<footer>
	<div class="container">
		<hr>
		Data from <a href="https://database.factgrid.de">FactGrid</a>
		|
		Code forked from <a href="https://github.com/fnielsen/ordia">Ordia</a>, maintained in ProsOrdia's
		<a href="https://github.com/situx/prosrdia">GitHub repository</a>
		|
		Hosted on <a href="https://situx.github.io/paleordia">Github Pages</a>
		|
		License for content: CC0 for data, CC-BY-SA for text and media
		|
		Report technical problems at ProsOrdia's
		<a href="https://github.com/situx/prosordia/issues">Issues</a> GitHub page.
	</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1KQ65TJ977"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1KQ65TJ977');
</script>
</footer>