<div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <form class="form-inline" action="{{ url_for('app.show_search') }}">
	<div class="input-group">
            <input type="text" class="form-control"
		   name="q" id="searchterm" value="{{ query }}"
		   placeholder="Search after lemma or form"/>
            <span class="input-group-btn">
		<button class="btn btn-primary" type="submit">
		    ProsOrdia
		</button>
            </span>

	    <button class="navbar-toggler" type="button"
		    data-toggle="collapse" data-target="#navbarToogle">
		<span class="navbar-toggler-icon"></span>
	    </button>
	</div>
	
    </form>
    

    <div class="collapse navbar-collapse" id="navbarToogle">
	<ul class="nav navbar-nav">
	<li class="nav-item">
	    <a class="nav-link" data-toggle="collapse" data-target="#nav-names" aria-expanded="true" style="font-weight:bold">Names</a>
	 </li>
	<div id="nav-names" class="collapse">
	  <ul class="nav navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/language_index/index.html">By Language</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/places_index/index.html">By Place</a>
	  </li>
	  	<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl }}/timeperiod_index/index.html">By Time Period</a>
	    </li>
		<li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl }}/researchproject_index/index.html">By FactGrid project</a>
	    </li>
	    <li class="nav-item">
		<a class="nav-link" href="{{ site.baseurl }}/individuals_index/index.html">Named Individuals</a>
	    </li>
	    </ul>
	</div>
	<li class="nav-item">
	    <a class="nav-link" data-toggle="collapse" data-target="#nav-docs" aria-expanded="true" style="font-weight:bold">Docs</a>
	 </li>
	<div id="nav-docs" class="collapse">
	  <ul class="nav navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_index/index.html">By Language</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_genre_index/index.html">By Genre</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_findspot_index/index.html">By find spot</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_timeperiod_index/index.html">By time period</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_holding_index/index.html">By holding</a>
	  </li>
	   <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_author_index/index.html">By author</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/documents_fgproject_index/index.html">By FactGrid project</a>
	  </li>
	   </ul>
	</div>
		<li class="nav-item">
	    <a class="nav-link" data-toggle="collapse" data-target="#nav-locs" aria-expanded="true" style="font-weight:bold">Locs</a>
	 </li>
	<div id="nav-locs" class="collapse">
		<ul class="nav navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="{{ site.baseurl }}/localities_country_index/index.html">By Country</a>
	  </li>
	  </ul>

	</ul>
    </div>

</div>
