---
layout: base
---

<script type="text/javascript">
 lexemesSparql = `
# tool: ordia
# title: List of characters for a script
SELECT DISTINCT ?character ?characterLabel ?characterLabel2 ?basedon ?basedonLabel (GROUP_CONCAT(distinct ?chartypeLabel; separator=" / ") AS ?charTypes) (GROUP_CONCAT(distinct ?imagee; separator=" ") AS ?image) (GROUP_CONCAT(distinct ?depiction; separator=" ") AS ?image_link) WHERE {
    ?charclass wdt:P361 wd:${ q } .
	?character wdt:P31 ?charclass .
	?character wdt:P31 wd:Q2118549 .
    ?character wdt:P31 ?chartype .
	OPTIONAL {
    ?character wdt:P144 ?basedon .
	?basedon rdfs:label ?basedonLabel .
    FILTER (LANG(?basedonLabel) = 'en')
    }
    ?chartype rdfs:label ?chartypeLabell . 
	?character p:P1343 ?lex .
	?character rdfs:label ?characterLabel .
	OPTIONAL{
		?character wdt:P9382 ?unicodename .
		?character wdt:P4213 ?unicodepoint .
		BIND(CONCAT(?unicodename," (U+",?unicodepoint,")") AS ?characterLabel2)
	}
    ?lex ps:P1343 ?ref .
    OPTIONAL{?lex pq:P1810 ?refnum .}
	OPTIONAL{?lex pq:P7421 ?refline .}
	OPTIONAL{?lex pq:P304 ?refpage .}
    OPTIONAL {
	?depiction wdt:P180 ?character .
    ?depiction wdt:P18 ?imagee .
	}
	BIND(COALESCE(?refnum, "") As ?thenum)
    BIND(COALESCE(?chartypeLabell, "") As ?chartypeLabel)
	BIND(COALESCE(CONCAT(" [p. ",?refpage,"]"), "") As ?thepage)
	BIND(COALESCE(CONCAT(" [l. ",?refline,"]"), "") As ?theline)
	BIND(CONCAT(?thenum,?thepage,?theline) AS ?refnumber)
    FILTER NOT EXISTS {?character wdt:P31 wd:Q118867680 .}
    FILTER (LANG(?characterLabel) = 'en')
    FILTER (LANG(?chartypeLabell) = 'en')
  }
  GROUP BY ?character ?characterLabel ?characterLabel2 ?basedon ?basedonLabel
  ORDER BY ?characterLabel
`

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexical-categories", {
	 linkPrefixes: {
	     character: '../cf'
	 },
	 pBar:"progressbar",
	 pBarLabel:"progress-label"
     });

 });

</script>

<h1>Allographs for script ${ qLabel } (${ q })</h1>

    <a title="Back"
       role="button"
       class="btn btn-outline-dark btn-sm"
       href="../script?q=${ qb }&qLabel=${ qLabel }">←</a>

<hr/>

<div class="lexical-categories">
	<div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
    <table class="table table-hover" id="lexical-categories"></table>

</div>

