---
layout: base
---

<script type="text/javascript">
  dataSparql = `
# tool: ordia
SELECT ?description ?value ?valueUrl
WHERE {
  BIND(wd:${ q } AS ?language)
  {
    BIND(1 AS ?order)
    BIND("Country" AS ?description)
    ?language rdfs:label ?value_string .
    FILTER (LANG(?value_string) = 'en')
    BIND(COALESCE(?value_string, ?q) AS ?value)
  }
  UNION
  {
    SELECT
      (2 AS ?order)
      ("Number of lexemes" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    SELECT
      (3 AS ?order)
      ("Number of senses" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] ^ontolex:sense / dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    SELECT
      (4 AS ?order)
      ("Number of forms" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] ^ontolex:lexicalForm / dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    BIND(10 AS ?order)
    BIND("Number of speakers" AS ?description)
    ?language wdt:P1098 ?value .
  }
} 
ORDER BY ?order
`;
  
 lexemesSparql = `
# tool: ordia
# title: List of lexemes for a language
SELECT ?location ?locationLabel ?coord ?address WHERE {
  BIND(wd:Q164359 AS ?country)
  ?location wdt:P297 ?country .
  OPTIONAL {
	?location wdt:P153 ?address .
	?address rdfs:label ?addressLabel .
	FILTER(lang(?addressLabel)="en")
  }
  ?location rdfs:label ?locationLabel .
  FILTER(lang(?locationLabel)="en")
  OPTIONAL {
    ?location wdt:P48|wdt:P1035 ?coord .
  }
}GROUP BY ?location ?locationLabel ?coord ?address
ORDER BY ?locationLabel
`

 $(document).ready(function() {
     sparqlToDataTable(dataSparql, "#data");
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'pBar':"progressbar",
	 'pBarLabel':"progress-label",
	 'linkPrefixes': {
	     'document': '../reference',
	     'name_category': '../lexical_category'
	  },
	  'linkParams':{
		'lexeme': '&qb='+q+'&qbLabel='+qLabel
	  }
	  });
 });

</script>

<div class="language-entries">
  
  <h1>${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language_index/index.html">←</a>
  <a title="View and edit item in Factgrid"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://database.factgrid.de/wiki/${ q }">Factgrid ↗</a>

  <h2>Data</h2>

  <table class="table table-hover" id="data"></table>

  <h2>Location Map</h2>
  <button class="btn btn-outline-dark btn-sm glyphicon glyphicon-fullscreen" onclick="toggleFullScreen('wikidataembed')">FullScreen</button>
  <div class="embed-responsive embed-responsive-4by3">
  <iframe loading="lazy" allow="fullscreen" id="wikidataembed" class="embed-responsive-item" src="https://database.factgrid.de/query/embed.html#%0A%23defaultView%3AMap%0A%20SELECT%20%3Flocation%20%3FlocationLabel%20%3Fcoord%20WHERE%20%7B%0A%20%20BIND(wd%3A${ q }%20AS%20%3Fcountry)%0A%20%20%3Flocation%20wdt%3AP297%20%3Fcountry%20.%0A%20%20%3Flocation%20rdfs%3Alabel%20%3FlocationLabel%20.%0A%20%20FILTER(lang(%3FlocationLabel)%3D%22en%22)%0A%20%20OPTIONAL%20%7B%0A%20%20%20%20%3Flocation%20wdt%3AP48%20%3Fcoord%20.%0A%20%20%7D%0A%7DGROUP%20BY%20%3Flocation%20%3FlocationLabel%20%3Fcoord%20%0AORDER%20BY%20%3FlocationLabel%0A" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
  </div>

  <h2>Locations</h2>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="lexemes"></table>


</div>
