---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
SELECT ?doc ?docLabel ?docDescription ?transcript WHERE { 
    {?doc wdt:P2 wd:Q10671}UNION{
	?doc wdt:P2/wdt:P2 wd:Q11208 .
    }
    ?doc wdt:P251 ?transcript .
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}ORDER BY ?docLabel
  `

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
	 {'pBar':"progressbar",
	 'pBarLabel':"progress-label",'linkPrefixes': {'doc': '../reference'}});
 });

</script>

<div class="languages">
  <h1>Documents with transcripts</h1>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="languages"></table>
  
</div>



