---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
SELECT ?doc ?docLabel ?docDescription ?area ?width ?height ?thickness ?volume WHERE {
    ?doc wdt:P1020 ?area .
    {?doc wdt:P2 wd:Q10671}UNION{
	?doc wdt:P2/wdt:P2 wd:Q11208 .
    }
	OPTIONAL {
	?doc wdt:P60 ?width .
	}
	OPTIONAL {
    ?doc wdt:P59 ?height .
	}
    OPTIONAL {
    ?doc wdt:P61 ?thickness .
	}
	OPTIONAL {
	?doc wdt:P1091 ?volume .
	}
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}
  `

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
	 {'linkPrefixes': {'author': '../individual'}});
 });

</script>

<div class="languages">
  <h1>Documents by measurements</h1>

  <table class="table table-hover" id="languages"></table>
  
</div>



