---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
SELECT ?doc ?docLabel ?docDescription ?area ?width ?height ?thickness ?volume WHERE { 
    {?doc wdt:P2 wd:Q10671}UNION{
	?doc wdt:P2/wdt:P2 wd:Q11208 .
    }
    ?doc p:P1020 ?area_stat .
    ?area_stat psv:P1020 ?area_node .
    ?area_node wikibase:quantityAmount ?areaa .
    ?area_node wikibase:quantityUnit ?areaUnitt .
    ?areaUnitt rdfs:label ?areaUnit .
    FILTER(lang(?areaUnit)="en")
    BIND(CONCAT(STR(?areaa)," ",STR(?areaUnit)) AS ?area) 
	OPTIONAL {
    ?doc p:P60 ?width_stat .
    ?width_stat psv:P60 ?width_node .
    ?width_node wikibase:quantityAmount ?widthh .
    ?width_node wikibase:quantityUnit ?widthUnitt .
    ?widthUnitt rdfs:label ?widthUnit .
    FILTER(lang(?widthUnit)="en")
    BIND(CONCAT(STR(?widthh)," ",STR(?widthUnit)) AS ?width)
	}
	OPTIONAL {
    ?doc p:P59 ?height_stat .
    ?height_stat psv:P59 ?height_node .
    ?height_node wikibase:quantityAmount ?heightt .
    ?height_node wikibase:quantityUnit ?heightUnitt .
    ?heightUnitt rdfs:label ?heightUnit .
    FILTER(lang(?heightUnit)="en")
    BIND(CONCAT(STR(?heightt)," ",STR(?heightUnit)) AS ?height)
	}
    OPTIONAL {
    ?doc p:P61 ?thickness_stat .
    ?thickness_stat psv:P61 ?thickness_node .
    ?thickness_node wikibase:quantityAmount ?thicknesss .
    ?thickness_node wikibase:quantityUnit ?thicknessUnitt .
    ?thicknessUnitt rdfs:label ?thicknessUnit .
    FILTER(lang(?thicknessUnit)="en")
    BIND(CONCAT(STR(?thicknesss)," ",STR(?thicknessUnit)) AS ?thickness)
	}
	OPTIONAL {
    ?doc p:P1091 ?volume_stat .
    ?volume_stat psv:P1091 ?volume_node .
    ?volume_node wikibase:quantityAmount ?volumee .
    ?volume_node wikibase:quantityUnit ?volumeUnitt .
    ?volumeUnitt rdfs:label ?volumeUnit .
    FILTER(lang(?volumeUnit)="en")
    BIND(CONCAT(STR(?volumee)," ",STR(?volumeUnit)) AS ?volume)
	}
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
}ORDER BY ?docLabel
  `

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
	 {'linkPrefixes': {'author': '../individual'}});
 });

</script>

<div class="languages">
  <h1>Documents by measurements</h1>

  <table class="table table-hover" id="languages"></table>
  
</div>



