---
layout: base
---

<script type="text/javascript">
  dataSparql = `
# tool: ordia
SELECT ?description ?value ?valueUrl
WHERE {
  BIND(wd:${ q } AS ?language)
  {
    BIND(1 AS ?order)
    BIND("Find spot" AS ?description)
    ?language rdfs:label ?value_string .
    FILTER (LANG(?value_string) = 'en')
    BIND(COALESCE(?value_string, ?q) AS ?value)
  }
  UNION
  {
    SELECT
      (2 AS ?order)
      ("Number of lexemes" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    SELECT
      (3 AS ?order)
      ("Number of senses" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] ^ontolex:sense / dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    SELECT
      (4 AS ?order)
      ("Number of forms" AS ?description)
      (COUNT(*) AS ?value)
    {
      [] ^ontolex:lexicalForm / dct:language wd:${ q } .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
  UNION
  {
    BIND(10 AS ?order)
    BIND("Number of speakers" AS ?description)
    ?language wdt:P1098 ?value .
  }
} 
ORDER BY ?order
`;
  
 lexemesSparql = `
# tool: ordia
# title: List of lexemes for a language
SELECT ?document ?documentLabel (GROUP_CONCAT(DISTINCT ?altLabell; separator=" // ") as ?AlsoKnownAs) ?language ?languageLabel ?timeperiod ?timeperiodLabel ?transcript WHERE {
  BIND(wd:${ q } AS ?findspot)
  ?document wdt:P695 ?findspot .
  {?document wdt:P2 wd:Q10671}UNION{
	?document wdt:P2/wdt:P2 wd:Q11208 .
    }
  ?document rdfs:label ?documentLabel .
  ?findspot rdfs:label ?findspotLabel .
  FILTER(lang(?documentLabel)="en")
  FILTER(lang(?findspotLabel)="en")
  OPTIONAL {
    ?document skos:altLabel ?altLabell .
	FILTER(lang(?altLabell)="en")
  }
  OPTIONAL {
    ?document wdt:P18 ?language .
    ?language rdfs:label ?languageLabel .
    FILTER(lang(?languageLabel)="en")
  }
  OPTIONAL {
    ?document wdt:P853 ?timeperiod .
    ?timeperiod rdfs:label ?timeperiodLabel .
    FILTER(lang(?timeperiodLabel)="en")
  }
  OPTIONAL {
     ?document wdt:P251 ?transcript .
  }
}
GROUP BY ?document ?documentLabel ?language ?languageLabel ?timeperiod ?timeperiodLabel ?transcript
ORDER BY ?documentLabel
`

 $(document).ready(function() {
     sparqlToDataTable(dataSparql, "#data");
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'pBar':"progressbar",
	 'pBarLabel':"progress-label",
	 'linkPrefixes': {
	     'document': '../reference',
	     'name_category': '../lexical_category'
	  },
	  'linkParams':{
		'lexeme': '&qb='+q+'&qbLabel='+qLabel
	  }
	  });
 });

</script>

<div class="language-entries">
  
  <h1>${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language_index/index.html">←</a>
  <a title="View and edit item in Factgrid"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://database.factgrid.de/wiki/${ q }">Factgrid ↗</a>

  <h2>Data</h2>

  <table class="table table-hover" id="data"></table>

  <h2>Documents</h2>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="lexemes"></table>


</div>



