---
layout: base
---

<div>

  <h1>PaleOrdia</h1>



<div class="container">

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Examples</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="l/?l=L99&qLabel=Luftballon&qb=Q188&qbLabel=German">Luftballon</a></dt>
		    <dd>
			German lexeme.
		    </dd>
		    

		    <dt><a href="l/?l=L43318&qLabel=krænkelsesparat&qb=Q9035&qbLabel=Danish">krænkelsesparat</a></dt>
		    <dd>
			Danish neologism with indication of
			probable first appearance in various news
			sites, articles and books.  
		    </dd>
		    
		    <dt><a href="l/?l=L2310&qLabel=rød&qb=Q9035&qbLabel=Danish">rød</a></dt>
		    <dd>
			Danish adjective with primary meaning
			being "<a target="_blank" href="https://www.wikidata.org/entity/Q3142">red</a>" and which
			appears in many different compounds.
		    </dd>
		    
		    <dt><a href="l/?l=L53145&qLabel=dobrý&qb=Q9056&qbLabel=Czech">dobrý</a></dt>
		    <dd>
			Czech adjective with many (160+) different forms.
		    </dd>

		    <dt><a href="l/?l=L189&qLabel=вода&qb=Q7737&qbLabel=Russian">вода</a></dt>
		    <dd>
			Russian noun with many (15+) different senses,
			among others <a target="_blank" href="https://www.wikidata.org/entity/Q29053744">liquid water</a>.
			
				
		</dl>
            </div>

	</div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Tools</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="text-to-lexemes">Text-to-lexemes</a></dt>
		    <dd>Convert a text to a list of lexemes:
			<a href="{{site.baseurl}}/text-to-lexemes?text=Regeringen%20spiser%20gr%C3%B8nne%20%C3%A6bler%20om%20vinteren&text-language=da">Danish example</a> and
			<a href="{{site.baseurl}}/text-to-lexemes?text=Cars,%20bikes%20and%20motorcycles%20must%20stop%20at%20the%20crossing&text-language=en">English example</a>.</dd>
		</dl>

		<dl>
		    <dt><a href="text-to-languages">Text-to-language</a></dt>
		    <dd>Count number of matched words across language, &mdash; a form of simple language detection:
			<a href="{{site.baseurl}}/text-to-languages?text=To murere lo i nat med en banan">Example</a> and
			<a href="{{site.baseurl}}/text-to-languages?text=to go or not to go">another example</a>.</dd>
		</dl>

	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Other</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="{{site.baseurl}}/statistics/">Statistics</a></dt>
		    <dd>Count of Wikidata lexemes data.</dd>
		</dl>

		<dl>
		    <dt><a href="https://orbit.dtu.dk/files/203180728/imm7137.pdf">Ordia: A Web Application for Wikidata Lexemes ↗</a></dt>
		    <dd>Paper about this web application.</dd>


		
	    </div>
        </div>
    </div>
</div>
  
    
</div>









