---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
# List of scripts with count of the number of characters
SELECT
  ?individual ?individualLabel ?name ?nameLabel ?gender ?genderLabel ?career ?careerLabel ?description
WHERE {
  ?individual wdt:P2 wd:Q7 .
  ?individual rdfs:label ?individualLabell .
  FILTER(lang(?individualLabell)="en")
  BIND(CONCAT(?individualLabell," (",SUBSTR(STR(?individual), 37),")") AS ?individualLabel)
  ?individual schema:description ?description .
  FILTER(lang(?description)="en")
  ?individual wdt:P154 ?gender .
  OPTIONAL {
	?individual wdt:P248 ?name .
	?name rdfs:label ?nameLabel .
	FILTER(lang(?nameLabel)="en")
  }
  OPTIONAL {
	?gender rdfs:label ?genderLabel .	
	FILTER(lang(?genderLabel)="en")
  }
  OPTIONAL {
	?career wdt:P165 ?careerLabel .	
	FILTER(lang(?careerLabel)="en")
  }
}

  numberOfStatementsSparql = `
SELECT
  ?total_number_of_statements
  ?average_number_of_statements
  ?script ?scriptLabel ?scriptDescription
WHERE {
  {
    SELECT
      ?script
      (SUM(?statements) AS ?total_number_of_statements)
      (AVG(?statements) AS ?average_number_of_statements)
    {
      [] wikibase:statements ?statements ;
         wdt:P282 ?script .
    }
    GROUP BY ?script
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?total_number_of_statements)
`;

  

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
		        {'linkPrefixes': {'script': '../script'}});
     sparqlToDataTable(numberOfStatementsSparql, "#number-of-statements",
		      {'linkPrefixes': {'script': '../script'}});
 });

</script>

<div class="languages">
  <h1>Individuals</h1>

  <table class="table table-hover" id="languages"></table>

  <hr>
  
  <h2 title="Number of statements">Number of statements</h2>

  <table class="table table-hover" id="number-of-statements"></table>
 
  
  
</div>



