---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
# List of languages with count of the number of lexemes
SELECT
  ?number_of_names
  ?language ?languageLabel ?languageDescription
WITH {
  SELECT ?language (COUNT(*) AS ?number_of_names) WHERE {
    ?name wdt:P18 ?language .
	?name wdt:P2 wd:Q31776 .
  }
  GROUP BY ?language
} AS %languages
WHERE {
  INCLUDE %languages
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?number_of_names)
  `

  numberOfStatementsSparql = `
SELECT
  ?total_number_of_statements
  ?average_number_of_statements
  ?language ?languageLabel ?languageDescription
WHERE {
  {
    SELECT
      ?language
      (SUM(?statements) AS ?total_number_of_statements)
      (AVG(?statements) AS ?average_number_of_statements)
    {
      [] wikibase:statements ?statements ;
         wdt:P18 ?language .
    }
    GROUP BY ?language
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?total_number_of_statements)
`;

  

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
		        {'linkPrefixes': {'language': '../language'}});
     sparqlToDataTable(numberOfStatementsSparql, "#number-of-statements",
		        {'linkPrefixes': {'language': '../language'}});
 });

</script>

<div class="languages">
  <h1>Names by language</h1>

  <table class="table table-hover" id="languages"></table>
  
</div>



