---
layout: base
---

<script type="text/javascript">
lexemesSparql =`
	SELECT DISTINCT (GROUP_CONCAT(DISTINCT ?lexemea; separator=" / ") as ?lexemeLabel) ?lexeme ?lexcat ?lexcatLabel
	(GROUP_CONCAT(DISTINCT ?rep; separator=" / ") as ?representations) 
	(GROUP_CONCAT(DISTINCT ?combsenseval; separator=" + ") as ?combinations)
	(GROUP_CONCAT(DISTINCT ?combsensedef; separator=" + ") as ?combinationsLabel)
	(GROUP_CONCAT(DISTINCT ?senseval; separator=" / ") as ?sense)
	(GROUP_CONCAT(DISTINCT ?senselabel; separator=" / ") as ?senseLabel)
	WHERE {		
	  ?lexeme rdf:type ontolex:LexicalEntry ;           
		 dct:language wd:${ q } ;		   
		 wikibase:lemma ?lexemea ;
		 wikibase:lexicalCategory ?lexcat .
	  ?lexcat rdfs:label ?lexcatLabel . FILTER(LANG(?lexcatLabel)= "en")
	  OPTIONAL { ?lexeme p:P5238 ?comb . ?comb pq:P5548 ?form . ?form ontolex:representation ?formlabel . ?comb pq:P5980 ?combsense . ?combsense wdt:P5137|wdt:P9970 ?combsenseval .?combsense skos:definition ?combsensedeff . FILTER(lang(?combsensedeff)="en") FILTER(lang(?formlabel)="sux-latn") BIND(CONCAT(?combsensedeff," (",?formlabel,")") AS ?combsensedef) }
	  OPTIONAL { ?lexeme ontolex:lexicalForm ?lf . ?lf ontolex:representation ?rep . }  
	  OPTIONAL { ?lexeme ontolex:sense ?sense . ?sense skos:definition ?gloss .  FILTER(LANG(?gloss)= "en") OPTIONAL {?sense wdt:P5137|wdt:P9970 ?senseval . ?senseval rdfs:label ?senselab .  FILTER(LANG(?senselab)= "en")} BIND(CONCAT(?gloss, COALESCE(CONCAT(" [", ?senselab, " (", REPLACE(STR(?senseval), "http://www.wikidata.org/entity/", ""), ")", "]"),"")) AS ?senselabel) }     }
	GROUP BY ?lexeme ?lexcat ?lexcatLabel
`

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
		'lexeme': '../l'
	 },
	 linkParams: {
		form: '&qb='+q
	 },
	 pBar:"progressbar",
	 pBarLabel:"progress-label"
	 });
 });

</script>

<div class="language-entries">
  <h1>Lexemes combinations: ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language?q=${ q }&qLabel=${ qLabel }">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }">Scholia ↗</a>


  <h2>Lexemes with forms, senses and their combinations</h2>

  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="lexemes"></table>
  

</div>




