---
layout: base
---

<script type="text/javascript">
lexemesSparql =`
	SELECT DISTINCT (GROUP_CONCAT(DISTINCT ?lexemea; separator=" / ") as ?lexemeLabel) 
    ?lexeme ?lexcat ?lexcatLabel ?derivedFrom  (GROUP_CONCAT(DISTINCT ?derivedFromLabell; separator=" / ") as ?derivedFromLabel)
    ?derivedFromLanguage ?derivedFromLanguageLabel ?derivationMode ?derivationRole ?derivationModeLabel ?derivationRoleLabel (GROUP_CONCAT(DISTINCT ?senseval; separator=" / ") as ?sense)
	(GROUP_CONCAT(DISTINCT ?senselabel; separator=" / ") as ?senseLabel)    
	(GROUP_CONCAT(DISTINCT ?derivedFromSensee; separator=" / ") as ?derivedFromSense)
	(GROUP_CONCAT(DISTINCT ?derivedFromSenseLabell; separator=" / ") as ?derivedFromSenseLabel)   
	WHERE {		
	  ?lexeme rdf:type ontolex:LexicalEntry ;           
		 dct:language wd:${ q };		   
		 wikibase:lemma ?lexemea ;
         wdt:P5191 ?derivedFrom ;
		 wikibase:lexicalCategory ?lexcat .
      OPTIONAL {?lexeme p:P5191 ?ders . ?ders pq:P5886 ?derivationMode . ?derivationMode rdfs:label ?derivationModeLabel . ?ders pq:P3831 ?derivationRole . ?derivationRole rdfs:label ?derivationRoleLabel . FILTER(LANG(?derivationModeLabel)= "en")  FILTER(LANG(?derivationRoleLabel)= "en") }
	  OPTIONAL { ?derivedFrom wikibase:lemma ?derivedFromLabell . ?derivedFrom dct:language ?derivedFromLanguage . ?derivedFromLanguage rdfs:label ?derivedFromLanguageLabel . FILTER(LANG(?derivedFromLanguageLabel)= "en") }
	  OPTIONAL { ?derivedFrom ontolex:sense ?derivedFromSensee . ?derivedFromSensee skos:definition ?dsgloss .  FILTER(LANG(?dsgloss)= "en") OPTIONAL {?derivedFromSensee wdt:P5137|wdt:P9970 ?dsenseval . ?dsenseval rdfs:label ?dsenselab .  FILTER(LANG(?dsenselab)= "en")} BIND(CONCAT(?dsgloss, COALESCE(CONCAT(" [", ?dsenselab, " (", REPLACE(STR(?dsenseval), "http://www.wikidata.org/entity/", ""), ")", "]"),"")) AS ?derivedFromSenseLabell) } 
      ?lexcat rdfs:label ?lexcatLabel . FILTER(LANG(?lexcatLabel)= "en")
	  OPTIONAL { ?lexeme ontolex:sense ?sense . ?sense skos:definition ?gloss .  FILTER(LANG(?gloss)= "en") OPTIONAL {?sense wdt:P5137|wdt:P9970 ?senseval . ?senseval rdfs:label ?senselab .  FILTER(LANG(?senselab)= "en")} BIND(CONCAT(?gloss, COALESCE(CONCAT(" [", ?senselab, " (", REPLACE(STR(?senseval), "http://www.wikidata.org/entity/", ""), ")", "]"),"")) AS ?senselabel) }     }
	GROUP BY ?lexeme ?lexcat ?lexcatLabel ?derivationModeLabel ?derivationRoleLabel ?derivationMode ?derivationRole ?derivedFrom ?derivedFromLabel ?derivedFromLanguage ?derivedFromLanguageLabel
	ORDER BY ?lexemeLabel
`



 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
		'lexeme': '../l'
	 },
	 linkParams: {
		form: '&qb='+q
	 },
	 pBar:"progressbar",
	 pBarLabel:"progress-label"
	 });
 });

</script>

<div class="language-entries">
  <h1>Lexemes derivations: ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../language?q=${ q }&qLabel=${ qLabel }">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }">Scholia ↗</a>


  <h2>Lexemes derived from other Lexemes</h2>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="lexemes"></table>
  

</div>




