---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
SELECT
  ?number_of_locs
  ?country ?countryLabel ?countryDescription
WITH {
  SELECT ?country (COUNT(*) AS ?number_of_locs) WHERE {
	?document wdt:P297 ?country .
	?document wdt:P2 wd:Q8 .
  }
  GROUP BY ?country
} AS %languages
WHERE {
  INCLUDE %languages
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?number_of_locs)
`

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
	  {	 'pBar':"progressbar",
	 'pBarLabel':"progress-label",'linkPrefixes': {'country': '../countryloc'}});
 });

</script>

<div class="languages">
  <h1>Localities by Country</h1>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="languages"></table>
  
</div>
