---
layout: base
---

<script type="text/javascript">
dataSparql = `
SELECT ?individual ?individualLabel ?individualDescription
WHERE 
{
  ?individual wdt:P2 wd:Q7 .
  ?individual wdt:P83 wd:${ q }. 
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
`

 $(document).ready(function() {
	 sparqlToDataTable(dataSparql, "#data", {'linkPrefixes': {'individual': '../individual'}});
 });

</script>

<div class="language-entries">
  <h1>Individuals by place: ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../script_index/index.html">←</a>
  <a title="View and edit item in FactGrid"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://database.factgrid.de/entity/${ q }">FactGrid ↗</a>

  <h2>Individuals</h2>

  <table class="table table-hover" id="data"></table>

</div>




