---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
# List of scripts with count of the number of characters
SELECT ?name ?nameLabel ?gender ?genderLabel ?language ?languageLabel (GROUP_CONCAT(DISTINCT ?ref; SEPARATOR = " // ") AS ?refs) (GROUP_CONCAT(DISTINCT ?refLabel; SEPARATOR = " // ") AS ?refsLabel) WHERE {
  VALUES ?namesclasses { wd:Q31776 wd:Q24499 }
  ?name wdt:P2 ?namesclasses .
  {
    ?name wdt:P8|wdt:P131 wd:${ q } .
  }UNION{
    ?name wdt:P143 ?ref .
    ?ref wdt:P8|wdt:P131 wd:${ q } .
  }
  ?name rdfs:label ?nameLabel .
  FILTER(lang(?nameLabel)="en")
  OPTIONAL {
    ?name wdt:P625 ?gender .
    ?gender rdfs:label ?genderLabel .
    FILTER(lang(?genderLabel)="en")
  }  
  OPTIONAL {
    ?name wdt:P143 ?ref .
    ?ref rdfs:label ?refLabel .
    FILTER(lang(?refLabel)="en")
  }
  OPTIONAL {
	?name wdt:P18 ?language .
	?language rdfs:label ?languageLabel .
	FILTER(lang(?languageLabel)="en")
  }
}
GROUP BY ?name ?nameLabel ?gender ?genderLabel ?language ?languageLabel
ORDER BY ?nameLabel
`
 

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
		        {	 
	 'pBar':"progressbar",
	 'pBarLabel':"progress-label",
	 'linkPrefixes': {'name': '../n'}});
 });

</script>

<div class="languages">
  <h1>Names for FactGrid project ${ qLabel } (${ q })</h1>
  
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="languages"></table>
 
  
</div>



