---
layout: base
---

<script type="text/javascript">
dataSparql = `

SELECT ?description ?value ?valueUrl
WHERE {
  BIND(wd:${ q } AS ?language)
  {
    BIND(1 AS ?order)
    BIND("Script" AS ?description)
    ?language rdfs:label ?value_string .
    FILTER (LANG(?value_string) = 'en')
    BIND(COALESCE(?value_string, ?q) AS ?value)
  }
  UNION
  {
    BIND(2 AS ?order)
    BIND("Instance Of" AS ?description)
    ?language wdt:P31 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }
  UNION
  {
    BIND(3 AS ?order)
    BIND("Subclass Of" AS ?description)
    ?language wdt:P279 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }  
  UNION
  {
    BIND(4 AS ?order)
    BIND("Inception" AS ?description)
    ?language wdt:P579 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }  
  UNION
  {
    BIND(5 AS ?order)
    BIND("Invented by" AS ?description)
    ?language wdt:P61 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }  
  UNION
  {
    BIND(6 AS ?order)
    BIND("Location" AS ?description)
    ?language wdt:P276 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }
  UNION
  {
    BIND(7 AS ?order)
    BIND("Language using this script" AS ?description)
    ?language wdt:P407 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  }  
  UNION
  {
    BIND(8 AS ?order)
    BIND("Unicode Range" AS ?description)
    ?language wdt:P5949 ?valueUrl .
    ?valueUrl rdfs:label ?value .
    FILTER (LANG(?value) = 'en')
  } 
  UNION
  {
    SELECT
      (2 AS ?order)
      ("Number of characters" AS ?description)
      (COUNT(?chars) AS ?value)
    {
      wd:Q401 wdt:P31 wd:Q8192 .
	  ?chars wdt:P282 wd:Q401 .
	  FILTER NOT EXISTS {?chars wdt:P31 wd:Q118867680 . }[] dct:language wd:Q401 .
      BIND(1 AS ?dummy)
    }
    GROUP BY ?dummy
  }
} 
ORDER BY ?order
`;
  
 /*lexemesSparql = `
# tool: ordia
# title: List of characters for a script
  SELECT DISTINCT ?character ?characterLabel ?unicode (GROUP_CONCAT(distinct ?referenceLab; separator=" // ") AS ?references) WHERE {
	?character wdt:P282 wd:${ q } .
    ?character rdfs:label ?characterLabel .
	?character wdt:P31 ?cls .
	?cls wdt:P279 wd:Q3241972 .
	OPTIONAL{
		?character wdt:P9382 ?unicodename .
		?character wdt:P4213 ?unicodepoint .
	}
	BIND(CONCAT(?unicodename," (U+",?unicodepoint,")") AS ?unicode)
	?character wdt:P1343 ?reference .
	?reference rdfs:label ?referenceLab .
	FILTER NOT EXISTS {?character wdt:P31 wd:Q118867680 . }
    FILTER (LANG(?characterLabel) = 'en')
	FILTER (LANG(?referenceLab) = 'en')
  }
  GROUP BY ?character ?characterLabel ?unicode
  ORDER BY ?characterLabel
  LIMIT 10000
`*/

lexemesSparql =`
  SELECT DISTINCT ?character ?characterLabel ?characterLabel2 (GROUP_CONCAT(distinct ?referenceLab; separator="###") AS ?references_cols) (GROUP_CONCAT(distinct ?image; separator=" ") AS ?char_image) (GROUP_CONCAT(distinct ?depiction; separator=" ") AS ?char_image_link) WHERE {
	?character wdt:P282 wd:${ q } .
    ?character rdfs:label ?characterLabel .
	?character wdt:P31 ?cls .
	?cls wdt:P279 wd:Q3241972 .
	OPTIONAL{
		?character wdt:P9382 ?unicodename .
		?character wdt:P4213 ?unicodepoint .
	    BIND(CONCAT(" ",?unicodename," (U+",?unicodepoint,")") AS ?characterLabel2)
	}
	OPTIONAL {
    ?depiction wdt:P180 ?character .
    ?depiction wdt:P18 ?image .
	}
	OPTIONAL {
	?character p:P1343 ?ref .
	?ref ps:P1343 ?reference .
	?reference wdt:P1813 ?referenceL .
	}
	OPTIONAL {
	?character p:P1343 ?ref .  
    ?ref pq:P1810 ?refnum .
	}
	OPTIONAL {
	?character p:P1343 ?ref .  
    ?ref pq:P7421 ?refline .
	}
	OPTIONAL {
	?character p:P1343 ?ref .
	?ref pq:P304 ?refpage .
	}
	FILTER NOT EXISTS {?character wdt:P31 wd:Q118867680 . }
    FILTER (LANG(?characterLabel) = 'en')
	BIND(COALESCE(?refnum, "") As ?thenum)
	BIND(COALESCE(CONCAT("[l ",?refline,"]"), "") As ?theline)
	BIND(COALESCE(CONCAT(" [p ",?refpage,"]"), "") As ?thepage)
    BIND(CONCAT(?referenceL,"###",?thenum,?thepage,?theline) AS ?referenceLab)
  }
  GROUP BY ?character ?characterLabel ?characterLabel2
  ORDER BY ?characterLabel
  LIMIT 10000

`

reflistSparql=`
SELECT DISTINCT ?reference ?referenceLabel ?referenceLabel2 (COUNT(?reference) AS ?amount) WHERE {
	?character wdt:P31 wd:Q23017336 .
	?character wdt:P282 wd:${ q } .
    ?character wdt:P1343 ?reference .
	?reference rdfs:label ?referenceLabel .
    OPTIONAL { ?reference wdt:P1813 ?referenceSN . BIND(CONCAT(" (",?referenceSN, ")") AS ?referenceLabel2)}
    FILTER NOT EXISTS {?character wdt:P31 wd:Q118867680 .}
    FILTER (LANG(?referenceLabel) = 'en')
  }
  GROUP BY ?reference ?referenceLabel ?referenceLabel2
  ORDER BY ?referenceLabel   
`

signlistSparql = `
# tool: ordia
# title: List of characters for a script
  SELECT DISTINCT ?timeperiod ?timeperiodLabel (COUNT(?charvar) AS ?charvars) WHERE {
	?character wdt:P282 wd:${ q } .
	?charvar wdt:P180 ?character .
	?charvar wdt:P31 wd:Q118867680 .
	?charvar wdt:P282 wd:${ q } .
	?charvar wdt:P2348 ?timeperiod .
	?timeperiod rdfs:label ?timeperiodLabel .
	FILTER (LANG(?timeperiodLabel) = 'en')
  }
  GROUP BY ?timeperiod ?timeperiodLabel
`

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
		'character': '../c'
	 },
	 pBar:"progressbar",
	 pBarLabel:"progress-label",
	 linkParams: {
		form: '&qb='+q+'&qbLabel='+qLabel
	 }
	 });
	 sparqlToDataTable(signlistSparql, "#signlists",{
	 'linkPrefixes': {
		'timeperiod': '../signlist'
	 },
	 linkParams: {
		timeperiod: '&s='+q
	 }
	 });
	sparqlToDataTable(reflistSparql, "#references",{
	 'linkPrefixes': {
		'reference': '../reflist'
	 },
	 linkParams: {
		reference: '&qb='+q+'&qbLabel='+qLabel
	 }
	 });
	 sparqlToDataTable(dataSparql, "#data");
 });

</script>

<div class="language-entries">
  <h1>Script: ${ qLabel } (${ q })</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../script_index/index.html">←</a>
  <a title="View and edit item in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/${ q }">Wikidata ↗</a>
  <a title="View item in Reasonator"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://reasonator.toolforge.org/?&q=${ q }">Reasonator ↗</a>
  <a title="View item as a Scholia topic"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/${ q }">Scholia ↗</a>

	<a role="button" class="btn btn-outline-dark btn-sm" href="../cfindex?q=${ q }&qLabel=${ qLabel }&qb=${ q }">Sign Variant Index</a>
	
	<a role="button" class="btn btn-outline-dark btn-sm" href="../no_unicode?q=${ q }&qLabel=${ qLabel }&qb=${ q }">Non-Unicode Index</a>
	
	<a role="button" class="btn btn-outline-dark btn-sm" href="../ligatures?q=${ q }&qLabel=${ qLabel }&qb=${ q }">Ligatures</a>
	
	<a role="button" class="btn btn-outline-dark btn-sm" href="../allographs?q=${ q }&qLabel=${ qLabel }&qb=${ q }">Allographs</a>
	
	<a role="button" class="btn btn-outline-dark btn-sm" href="../compoundsigns?q=${ q }&qLabel=${ qLabel }&qb=${ q }">Compound Signs</a>

  <h2>Character Data</h2>

  <table class="table table-hover" id="data"></table>

 
  <h2>Time period specific signlists</h2>

  <table class="table table-hover" id="signlists"></table> 

  <h2>References</h2>

  <table class="table table-hover" id="references"></table>
  
  <h2>Characters</h2>
  <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
  <table class="table table-hover" id="lexemes"></table>
  

</div>




