---
layout: base
---

<script type="text/javascript">
    languagesSparql = `
# List of scripts with count of the number of characters
SELECT
  ?number_of_characters_and_variants
  ?script ?scriptLabel ?scriptDescription
WITH {
  SELECT ?script (COUNT(?chars) AS ?number_of_characters_and_variants) WHERE {
    ?script wdt:P31 wd:Q8192 .
	?chars wdt:P282 ?script .
	#FILTER NOT EXISTS {?chars wdt:P31 wd:Q118867680 . }
  }
  GROUP BY ?script
} AS %languages
WHERE {
  INCLUDE %languages
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?number_of_characters_and_variants)
  `

  numberOfStatementsSparql = `
SELECT
  ?total_number_of_statements
  ?average_number_of_statements
  ?script ?scriptLabel ?scriptDescription
WHERE {
  {
    SELECT
      ?script
      (SUM(?statements) AS ?total_number_of_statements)
      (AVG(?statements) AS ?average_number_of_statements)
    {
      [] wikibase:statements ?statements ;
         wdt:P282 ?script .
    }
    GROUP BY ?script
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?total_number_of_statements)
`;

  

 $(document).ready(function() {
     sparqlToDataTable(languagesSparql, "#languages",
		        {'linkPrefixes': {'script': '../script'}});
     sparqlToDataTable(numberOfStatementsSparql, "#number-of-statements",
		      {'linkPrefixes': {'script': '../script'}});
 });

</script>

<div class="languages">
  <h1>Scripts</h1>

  <table class="table table-hover" id="languages"></table>

  <hr>
  
  <h2 title="Number of statements">Number of statements</h2>

  <table class="table table-hover" id="number-of-statements"></table>
 
  
  
</div>



