---
layout: base
---

<script type="text/javascript">
 $(document).ready(function() {
 $.getJSON("https://database.factgrid.de/w/api.php?action=wbsearchentities&origin=*&format=json&search="+q+"&language=en&type=item", function(result){
    console.log(result)
	resstr=""
	if(result["search"].length>0){	
		for(res of result["search"]){
			resstr+="<li class=\"search-result\"><a target=\"_blank\" href=\"{{site.baseurl}}/reference?q="+res["id"]+"&qLabel="+res["label"]+"\">"+res["label"]+" ("+res["id"]+")</a> &mdash;"+res["description"]+"<br>"+res["match"]["text"]+" ("+res["match"]["language"]+") &mdash; <a target=\"_blank\" href=\""+res["concepturi"]+"\">FactGrid ↗</a></li>"
		}
		$('#searchres').html(resstr)
	}else{
		$('#searchres').html("<li>No search results found</li>")
	}
	
  });
  });
</script>

<div class="search-results">
  
    <h2>Search results</h2>

    <ul class="search-results" id="searchres">	    

    </ul>
    
</div>


<div id="new-lexeme">

  <a href="https://www.wikidata.org/wiki/Special:NewItem?item=${ q }"><button type="button" class="btn btn-primary">Create new item in FactGrid</button></a>

</div>

