---
layout: base
---

<script type="text/javascript">
 lexemesSparql = `
# tool: ordia
# title: List of characters for a script
  SELECT DISTINCT ?character ?characterLabel ?image ?image_link WHERE {
	?character wdt:P282 wd:${ s } .
    ?character rdfs:label ?characterLabel .
	?character wdt:P31 wd:Q118867680 .
	?character wdt:P2348 wd:${ q } .
	?character wdt:P18 ?image .
	BIND(?character AS ?image_link)
    FILTER (LANG(?characterLabel) = 'en')
  }
  ORDER BY ?characterLabel
  LIMIT 10000
`

 timeperiodsSparql = `
# tool: ordia
# title: List of characters for a script
  SELECT DISTINCT ?tp ?tpLabel WHERE {
	?character wdt:P282 wd:${ s } .
	?character wdt:P31 wd:Q118867680 .
	?character wdt:P2348 ?tp .
	?tp rdfs:label ?tpLabel .
    FILTER (LANG(?tpLabel) = 'en')
  }
  ORDER BY ?tpLabel
  LIMIT 10000
`
function reloadSignlist(){
     tp=$('#timeperiods').val()
     sparqlToDataTable(lexemesSparql, "#lexical-categories", {
	 linkPrefixes: {
	     character: '../cf'
	 }
     });
}

 $(document).ready(function() {
    var post_url = "https://query.wikidata.org/sparql";
    var post_data = "query=" + encodeURIComponent(timeperiodsSparql) + '&format=json'
     $.post(post_url, post_data, function(response) {
        var simpleData = sparqlDataToSimpleData(response);
        res=""
        for(elem in simpleData.data){
            res+="<option value=\""+simpleData.data[elem]["tp"]+"\">"+simpleData.data[elem]["tpLabel"]+"</option>"
        }
        $('#timeperiods').html(res)
	})
     sparqlToDataTable(lexemesSparql, "#lexical-categories", {
	 linkPrefixes: {
	     character: '../cf'
	 },
	 pBar:"progressbar",
	 pBarLabel:"progress-label"
     });

 });

</script>

<h1>Signlists for ${ qLabel } (${ q }) for script ${ s }</h1>

<hr/>

<!--Time Periods:<select id="timeperiods" onchange="reloadSignlist()"></select>-->

<div class="lexical-categories">
    <div id="progressbar"><span class="progress-label" id="progress-label">Loading...</span></div>
    <table class="table table-hover" id="lexical-categories"></table>

</div>

