---
layout: base
---

<script type="text/javascript">
 lexemesSparql = `
SELECT ?name ?nameLabel ?gender ?genderLabel (GROUP_CONCAT(DISTINCT ?ref; SEPARATOR = " // ") AS ?refs) (GROUP_CONCAT(DISTINCT ?refLabel; SEPARATOR = " // ") AS ?refsLabel) WHERE {
  ?name wdt:P853 wd:${ q } .
  ?name wdt:P2 wd:Q31776 .
  ?name rdfs:label ?nameLabel .
  FILTER(lang(?nameLabel)="en")
  OPTIONAL {
    ?name wdt:P625 ?gender .
    ?gender rdfs:label ?genderLabel .
    FILTER(lang(?genderLabel)="en")
  }  
  OPTIONAL {
    ?name wdt:P143 ?ref .
    ?ref rdfs:label ?refLabel .
    FILTER(lang(?refLabel)="en")
  }
}
GROUP BY ?name ?nameLabel ?gender ?genderLabel
ORDER BY ?nameLabel
`

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexical-categories", {
	 linkPrefixes: {
	     name: '../n'
	 }
     });
 });

</script>

<h1>Names for time period ${ q } ${ qLabel }</h1>

<hr/>

<div class="lexical-categories">

    <table class="table table-hover" id="lexical-categories"></table>

</div>

